<!-- FILTERED Pagination -->
<div class="d-flex flex-column m-auto pagination mt-5">
<nav aria-label="Page navigation">
<ul class="pagination pg-grey justify-content-center">
	<!-- cashtreats/blog_post_pagination.html -->
{% if queryset.has_other_pages %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if queryset.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?q={{ query }}&page=1">First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?q={{ query }}&page={{ queryset.previous_page_number }}">Previous</a>
      </li>
    {% endif %}

    <li class="page-item active"><span class="page-link">{{ queryset.number }}</span></li>

    {% if queryset.has_next %}
      <li class="page-item">
        <a class="page-link" href="?q={{ query }}&page={{ queryset.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?q={{ query }}&page={{ queryset.paginator.num_pages }}">Last</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

</ul>
</nav>
</div>
<!-- end pagination-->

<!-- cashtreats/blog_post_pagination.html -->
